body {
  background-color: blue;
  color: yellow;
  text-shadow: 2px 2px 2px black;
}
h1 {
  text-align: center;
  
}
.title{
  padding:.5rem;
  margin: 1rem;
  
}

.head {
  height:3rem;
  width: auto;
  /* background-color: slateblue; */
  border: solid yellow 6px!important;
}

.topBar {
  width: 100%;
  background-color: black;
  height: fit-content;
}

.info{
  color: blue;
}

.dogImg{
  width: 50%;
}

.textInfo{
  color: black !important;
}

