body {
  background-color: blue;
  color: yellow;
}
h1 {
  text-align: center;
  
}
.title{
  padding:.5rem;
  margin: 1rem;
  
}

.head {
  height:3rem;
  width: auto;
  /* background-color: slateblue; */
  border: solid yellow 6px!important;
}



/* .info{
  color: blue !important;
  text-shadow: 4px 4px 8px solid yellow !important;
} */